@require 'colors.styl'

fonts = 'Lato', 'Avenir Next', Avenir, sans-serif

html
  font-size 16px
body
  font-family fonts
  font-weight lighter
h1, h2, h3, h4, h5, h6, p
  color $white
  font-weight lighter
a
  color $white
  &:hover
    color $grey600
