html
  head
    title Sean Prasertsit | Wulfcode
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet')
    link(href='app.css' rel='stylesheet')
  body
    h1= message
