html
  head
    title Sean Prasertsit | Wulfcode
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css' rel='stylesheet')
    link(href='app.css' rel='stylesheet')
  body
    include header.pug
    main.main
      .content
        section.hero
          .quote-block.text-center
            p.quote-block__quote= quote
            p.quote-block__author - #{author}
    include footer.pug
